.header {
    background-image: url("586864ed-c261-4a27-b07b-3d1a632ff388.jpg");
    width: 1920px;
    height: 900px;
    z-index: -1;
}
.footer1 {
    background-color: rgba(18, 18, 18, 1);
    z-index: 9;
    width: 1920px;
    height: 180px;
    margin-top: 81px;
}

.logo {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-left: 80px;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 745px;
    max-height: 24px;
    margin-left: 642px;
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.persroom {
    background-color: rgba(124, 106, 250, 1);
    color: rgb(255, 255, 255);
    margin-left: 1657px;
    height: 44px;
    width: 183px;
    font-size: large;
    border-radius: 50px;
}

.persroom :hover{
    cursor: grabbing ;
}


.curse{
    color: rgb(255, 255, 255);
}
body{
    margin: 0;
    padding: 0; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.curse {
    margin-top: 270px;
    margin-left: 312px;
    width: 920px;
    height: 180px;
    font-size: 64px;
}

.counter {
    display: flex;
    justify-content: space-between;
    max-height: 130px;
    width: 650px;
    margin-left: 312px;
}

.square {
    width: 110px;
    height: 110px;
    background-color: rgba(18, 18, 18, 1);
    color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 9;
}

.number {
    height: 50px;
    width: 42px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    padding-left: 30px;
    padding-right: 30px;
}

.word {
    height: 22px;
    width: 55px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: auto;
    margin-top: -35px;
    margin-left: 27px;
}

.word1 {
    height: 22px;
    width: 55px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: auto;
    margin-top: -35px;
    margin-left: 32px;
}

.ordercourse {
    background-color:rgba(223, 89, 80, 1);
    color: rgb(255, 255, 255);
    margin-left: 312px;
    margin-top: 27px;
    height: 44px;
    width: 169px;
    font-size: large;
    border-radius: 50px;
    position: absolute;
}

.ordercourse :hover{
    cursor: grabbing ;
}

.main-people {
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 560px;
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    max-height: 60px;
}